:root {
--dark-red:#9a2828;
--bg2:#757171;
}

body {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    font-family:trebuchet ms;
    background-color:black;
    justify-content:center;
}

header {
    display:flex;
    justify-content:center;
    width:100%;
    align-items:center;
    padding: 1%;
    color:var(--dark-red);
}

section {
    color:var(--dark-red);
    text-align:center;
    padding-inline:10%;
}

h1 {
    font-size:200%;
}

h2 {
    font-size:170%;
    padding:5px;
    color:var(--dark-red);
}

article {

}

.card {
    border-style:dashed;
    background-color:var(--bg2);
    margin:10px;
    padding:10px;
    text-align:center;

}

footer {
    width:100%;
    display:flex;
    font-weight:bold;
    color:var(--dark-red);
    justify-content:center;
    padding:2%;
}

@media screen and (max-width:768px) {

    width:50%;
}